// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// colors
$theme: #005f82;
$secendary: #fea800;
$white: #fff;
$black: #000;
$red: #ff0000;
$bg: #d9d9d9;

// border
$border: 1px solid #98bcf2;
